h1{color:rgb(229, 121, 13);
    font-size: 60px;
    font-family:'Times New Roman', Times, serif;
    text-align: center



}

a.menu{
    margin:50px;

}

#menu{background-color: rgb(185, 250, 174);
    height: 30px;


}

img{
    width: 45%;
    height: auto;
}